# 忽略所有数据文件
archive/
data/raw/*
data/processed/*

# 但不要忽略 .gitkeep 文件
!data/raw/.gitkeep
!data/processed/.gitkeep

# 忽略模型和缓存
models/*.pkl
__pycache__/
*.zip

# 编译后的字节码
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境（绝对不能上传）
venv/
.venv/
env/
ENV/

# Jupyter Notebook 检查点
.ipynb_checkpoints/